{{ form_start(form) }}

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.ISBN, 'ISBN') }}
    </p>
    <div class="alert alert-danger">{{ form_errors(form.ISBN) }}</div>
    {{ form_widget(form.ISBN, {'attr':{'class':'w-100'}}) }}
</div>

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.title, 'Titre') }}
    </p>
    <div class="alert alert-danger">{{ form_errors(form.title) }}</div>
    {{ form_widget(form.title, {'attr':{'class':'w-100'}}) }}
</div>

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.summary, 'Résumé') }}
    </p>
    <div class="alert alert-danger">{{ form_errors(form.summary) }}</div>
    {{ form_widget(form.summary, {'attr':{'class':'w-100'}}) }}
</div>

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.authors, 'Auteurs') }}
    </p>
    <div class="row">
        <div class="col-6">
            <div class="alert alert-danger">{{ form_errors(form.authors) }}</div>

            {# store the prototype on the data-prototype attribute #}
            <ul class="col-12" id="author-fields-list"
                data-prototype="{{ form_widget(form.authors.vars.prototype)|e }}"
                data-widget-tags="{{ '<li></li>'|e }}"
                data-widget-counter="{{ form.children|length }}">
                {% for author in form.authors %}
                    <li class="liAuthor mb-2">
                        {{ form_errors(author) }}
                        {{ form_widget(author) }}
                    </li>
                {% endfor %}
            </ul>

            <button type="button"
                    class="add-another-collection-widget"
                    data-list-selector="#author-fields-list">Ajouter un auteur</button>





            {{ form_widget(form.authors, {'attr':{'class':'w-100'}}) }}
        </div>
    </div>
</div>

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.isRead, 'Lu') }}
    </p>
    <div class="alert alert-danger">{{ form_errors(form.isRead) }}</div>
    {{ form_widget(form.isRead, {'attr':{'class':'w-100'}}) }}
</div>

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.publisher, 'Editeur') }}
    </p>
    <div class="alert alert-danger">{{ form_errors(form.publisher) }}</div>
    {{ form_widget(form.publisher, {'attr':{'class':'w-100'}}) }}
</div>

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.publishedAt, 'Année de publication') }}
    </p>
    <div class="alert alert-danger">{{ form_errors(form.publishedAt) }}</div>
    {{ form_widget(form.publishedAt, {'attr':{'class':'w-100'}}) }}
</div>

<div class="col-12 formBook">
    <p class="mb-0">
        {{ form_label(form.format, 'Format') }}
    </p>
    <div class="alert alert-danger">{{ form_errors(form.format) }}</div>
    {{ form_widget(form.format, {'attr':{'class':'w-100'}}) }}
</div>

<button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
