{% extends 'layoutLibrary.html.twig' %}

{% block title %}Mes livres{% endblock %}

{% block body %}
    <h1>Mes livres</h1>
    <div class="container-fluid">
        <div class="text-center">
        <span class="badge badge-pill badge-light badgeUnit">
            <a class="aIndex" href="{{ path('book_newISBN') }}">
                Ajouter un livre par son ISBN
            </a>
        </span>
        </div>

        <div class="text-center">
        <span class="badge badge-pill badge-light badgeUnit">
            <a class="aIndex" href="{{ path('book_new') }}">
                Ajouter un livre manuellement
            </a>
        </span>
        </div>

        {% if books is defined %}
            {% set previous = false %}
            {% for book in books %}
                {% if book.title|first != previous %}
                    <div class="ml-2 textClass textColor">
                        {{ book.title|first }}
                    </div>
                {% endif %}
                {% set previous = book.title|first %}
                <a class="aBook" href="{{ path('book_show',{'id':book.id}) }}">
                    <div class="card border cardBook">
                        <div class="card-body textClass">
                            <div class="row">
                                <div class="col-2">
                                    <img class="coverClass" src="{{ book.cover }}"
                                         alt="Couv" />
                                </div>
                                <div class="col-10">
                                    <span class="textColor">{{ book.title }}</span>
                                    <br>
                                    {{ include('book/_authorDisplay.html.twig') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
