{% extends 'layoutLibrary.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Lu</th>
                <td>{{ book.isRead ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ book.publishedAt }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.ISBN }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.summary }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
