{% extends 'layoutLibrary.html.twig' %}

{% block title %}{{ book.title }}{% endblock %}

{% block body %}
    <h1>{{ book.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Lu</th>
                <td>{{ book.isRead ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Auteurs</th>
                <td>
                    {{ include('book/_authorDisplay.html.twig') }}
                </td>
            </tr>
            <tr>
                <th>Date de publication</th>
                <td>{{ book.publishedAt }}</td>
            </tr>
            <tr>
                <th>ISBN</th>
                <td>{{ book.ISBN }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ book.summary }}</td>
            </tr>


        </tbody>
    </table>

    <div class="text-center mt-3">
        <a class="btn mr-5" href="{{ path('book_edit', {'id': book.id}) }}">Editer</a>
        <a class="btn" href="{{ path('book_index') }}">Retour</a>
        {{ include('book/_delete_form.html.twig') }}
    </div>

{% endblock %}
